*.out
out.c
out.f90

src/*.o
src/*.cm[aio]
src/preprocessing/*.o
src/preprocessing/*.cm[aiox]
src/prebuild/*.o
src/prebuild/*.cm[aiox]
.*
!.gitignore
_build

research_docs


# pour le Tex
Presentation/*/*
!Presentation/*/*.tex
!Presentation/*/*.md
!Presentation/*/tikz/
!Presentation/*/static/
