*.out

src/*.o
src/*.cm[aio]
src/preprocessing/*.o
src/preprocessing/*.cm[aio]
src/prebuild/*.o
src/prebuild/*.cm[aio]
.*
!.gitignore
_build

research_docs

# pour le Tex
Presentation/Yann/*
!Presentation/Yann/*.tex
!Presentation/Yann/*.md
!Presentation/Yann/tikz/
!Presentation/Yann/static/
